@charset "utf-8";
/* CSS Document */

Table, td, th, tr {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 10px; 
}

img {
	position: absolute;
	left: 25px;
	top: 1000px; 
		
}

h1 {
	color: #5A79A4;
}

h1:hover {
	color: blue; 
}

h2 {
	background: hsla(270, 60%, 70%, 0.75); 
	padding: 20px;
	margin: 20px; 
	border-color: black; 
	border-style: dashed;
	font-family: 'Akronim', cursive;
}

h2:hover {
	background: blue; 
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}


h1, h2, h3, h4 {
	display: inline; 
}

* {
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
